//Section The shop
section.section-lg-top-233.section-lg-bottom-213.section-before-left.section-60
  .shell.divider.divider-1
    .range
      .cell-xs-6.cell-sm-6.cell-lg-4
        h3 The shop
      .cell-xs-6.cell-sm-6.cell-sm-6.cell-lg-3.cell-lg-preffix-3.text-right.inset-right-26.inset-lg-right-0.text-xs-center
        a(href="shop.html").btn-link.clearfix.offset-top-9.pull-xs-right.offset-lg-top-25
          span.content See all collection
          span.fa-angle-right.icon
    .range
      .cell-md-8
        .range
          .cell-xs-12
            a(href="shop.html").figure
              img(src="images/index-1.jpg" alt="" width="1010" height="489")
              .figure-caption
                span.h4 T-Shirts
          .cell-xs-6.offset-top-30
            a(href="shop.html").figure.figure-2
              img(src="images/index-3.jpg" alt="" width="490" height="489")
              .figure-caption
                span.h4 Shirts
          .cell-xs-6.offset-top-30
            a(href="shop.html").figure.figure-2
              img(src="images/index-4.jpg" alt="" width="490" height="489")
              .figure-caption
                span.h4 Footwear
      .cell-md-4.display-flex
        a(href="shop.html").figure.figure-3
          .figure-caption
            span.h4 Jeans