//Section Our Stores
section.section-60.section-lg-top-233.section-lg-bottom-138.section-before-left
  .shell.divider.divider-1
    h3 Our stores
    .range
      .cell-md-4
        h5 Focus on choosing just the right retailers.
        p We work with multiple clothes and accessories retailers all over the world. These multiple stores we cooperate with are an example of diversity. Such diversity is what helps us in keeping our lineup unique and unusual.
      .cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
        img(src="images/retailers-1.jpg" alt="" width="490" height="490")
        h5 Statement Store
      .cell-sm-6.cell-md-4.offset-top-50.offset-md-top-0
        img(src="images/retailers-2.jpg" alt="" width="490" height="490")
        h5 North Menswear