//Section Catherine’s Pics
section.section-60.bg-concrete
  .shell
    h3 Emma's Pics
    .range
      .cell-xs-6.cell-sm-4
        .thumbnail.bg-concrete
          a(href="product-page.html").figure
            img(src="images/team-7.jpg" alt="" width="490" height="423")
          .caption
            h5
              a(href="product-page.html") BOSS HUGO BOSS
            p Skinny Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-4
        .thumbnail.bg-concrete
          a(href="product-page.html").figure
            img(src="images/team-8.jpg" alt="" width="490" height="423")
          .caption
            h5
              a(href="product-page.html") BOSS HUGO BOSS
            p Skinny Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-4.offset-top-30.offset-sm-top-0
        .thumbnail.bg-concrete
          a(href="product-page.html").figure
            img(src="images/team-9.jpg" alt="" width="490" height="423")
          .caption
            h5
              a(href="product-page.html") BOSS HUGO BOSS
            p Skinny Silk Tie
            .h5.price $49