//Section Account
section.section-37.section-lg-119
  .shell
    .range
      .cell-xs-12
        .text-center.section-top-119.bg-concrete.section-bottom-128
          .img-block.block-inline.round
            img(src="images/account-1.jpg" alt="" width="323" height="324")
          .h5.fw-b.txt-darkers.offset-top-33 Hello, Jon Doe.
          p.txt-shaft.offset-top-13  We've been waiting for you. Welcome to your dashboard!
          p.txt-primary.fw-s JonDoe@demolink.org
          a(href="#").btn-default.btn.btn-xs.offset-top-45
            span.content Log out
            span.fa-angle-right.icon
      // Responsive-tabs
    .range.offset-top-7.responsive-tabs.responsive-tabs-variant-3.responsive-tabs-default
      .cell-xs-12
        .bg-concrete
          ul.resp-tabs-list
            li.h6 Orders
            li.h6 Bonuses
            li.h6 Settings
      .resp-tabs-container.bg-white.offset-top-87
        div.text-center
          .h5.fw-s.text-center Keep track of all your orders here
          ul.list-inline.offset-top-75
            li
              a.h6.txt-shaft-2(href="#") Favorites
            li
              a.h6.txt-base(href="#") Pending
            li
              a.h6.txt-base(href="#") Shipped
          .hr-3.offset-top-7
          .product-block.text-left
            .media.media-variant-1.product-cart
              .media-left
                img(src="images/customer-1.jpg" alt="" width="289" height="145")
              .media-body
                h5.block-inline
                  a(href="product-page.html") Pull&Bear
                .price.pull-lg-right $100
                p.title Super Skinny Fit Jeans
                .size M
            .media.media-variant-1.product-cart.offset-top-55
              .media-left
                img(src="images/customer-2.jpg" alt="" width="289" height="145")
              .media-body
                h5.block-inline
                  a(href="product-page.html") Diamond Pointelle
                .price.pull-lg-right $200
                p.title Kimono
                .size M
            .media.media-variant-1.product-cart.offset-top-55
              .media-left
                img(src="images/customer-3.jpg" alt="" width="289" height="145")
              .media-body
                h5.block-inline
                  a(href="product-page.html") Union Brown Suede
                .price.pull-lg-right $170
                p.title Chukka Boots
                .size M
          .hr-3.offset-lg-top-45.offset-top-9
          a(href="shop.html").btn-default.btn.btn-sm.offset-lg-top-60.offset-top-9
            span.content Continue shopping
            span.fa-angle-right.icon
        div
          .h5.fw-s.text-center.offset-lg-top-60 Manage your Janestyle loyalty bonuses
          hr
          .h5.text-center My Bonus Count<br> 234
          hr
          .text-center
            a(href="shop.html").btn-default.btn-default-1.btn.btn-sm.offset-xs-top-30.offset-top-9
              span.content How can I get more bonus points?
              span.fa-angle-right.icon
        div.text-center
          .h5.fw-s.text-center.offset-lg-top-60 Update your account settings here
          hr
          .profile-block.text-center
            h5 Main Info
            .photo-block.bg-concrete.offset-top-60
              img(src="images/account-2.jpg" alt="" width="165" height="165")
            .block-nik
              p Super Skinny Fit Jeans
            .form.form-custom-3.offset-top-60
              .range.text-center
                .cell-sm-6
                  .form-group
                    input#firstName.form-control(type='text',placeholder="First Name")
                .cell-sm-6
                  .form-group
                    input#lastName.form-control(type='text',placeholder="Last Name")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#email.form-control(type='text',placeholder="Email")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#number.form-control(type='text',placeholder="Phone Number")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#password.form-control(type='password',placeholder="New Password")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#password-2.form-control(type='password',placeholder="New Password Confirmation")
              h5.offset-top-60 Shipping Address
              .range.offset-top-0
                .cell-xs-12.offset-top-30
                  .form-group
                    input#company.form-control(type='text',placeholder="Company(optional)")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#address.form-control(type='text',placeholder="Address")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#city.form-control(type='text',placeholder="City")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#country.form-control(type='text',placeholder="Country")
                .cell-sm-6.offset-top-30
                  .form-group
                    input#zipcode.form-control(type='text',placeholder="Zip Code")
              h5.offset-top-60 Payment Methods
              .hr-3
              .text-left
                .radio.offset-top-9
                  label.mfRadio.txt-shaft
                    input.mfRadio__input(type="radio", name="card")
                    | Credit Card
                .pull-right.offset-top-9
                  img(src="images/payment-1.png" alt="" height="21" width="145")
              .hr-3
              .range.offset-top-0
                .cell-sm-6
                  .form-group
                    label(for="numbercard").small.txt-shaft Your card
                    input#numbercard.form-control.offset-top-9(type='text', placeholder="**** **** **** 1234")
                .cell-sm-6
                  .form-group
                    label(for="cardDate").small.txt-shaft Card Expiration Date
                    input#cardDate.form-control.offset-top-9(type='text', placeholder="12/17")
              a(href="#").btn-default.btn-default-1.btn.btn-sm.clearfix.pull-sm-right.offset-top-30
                span.content Add another card
                span.fa-angle-right.icon
              .hr-3
              .text-left
                .radio.offset-top-9
                  label.mfRadio.txt-shaft
                    input.mfRadio__input(type="radio", name="card")
                    | PayPal
              .hr-3
          .hr-3.offset-top-45.veil.reveal-md-inline-block
          .section-top-34.section-bottom-34.section-sm-bottom-0
            a(href="shop.html").btn-default.btn-default-1.btn.btn-sm
              span.content Continue shopping
              span.fa-angle-right.icon