//Section Your Cart
section.section-76.section-lg-233.section-before-right.section-before-right-3
  .shell.divider.divider-2
    h3 your cart
    .range
      .cell-lg-9
        table.cart-table
          thead
            tr
              th.h6.text-darker Product
              th.h6.text-darker Quantity
              th.h6.text-darker Price
          tbody
            tr
              td
                .media.media-variant-1.product-cart
                  .media-left
                    img(src="images/customer-1.jpg" alt="" width="289" height="145")
                  .media-body
                    h5.block-inline
                      a(href="product-page.html") Pull&Bear
                    p.offset-top-0 Super Skinny Fit Jeans
                    .size M
              td
                .qnt
                  span Qty:
                  .mfInput
                    input(type="text",placeholder="1")
                    span.fa-caret-down
                    span.fa-caret-up
                a(href="#").link.txt-shaft Remove
              td
                p.fw-s.txt-primary $100
            tr
              td
                .media.media-variant-1.product-cart
                  .media-left
                    img(src="images/customer-2.jpg" alt="" width="289" height="145")
                  .media-body
                    h5.block-inline
                      a(href="product-page.html") Diamond Pointelle
                    p.offset-top-0 Kimono
                    .size M
              td
                .qnt
                  span Qty:
                  .mfInput
                    input(type="text",placeholder="1")
                    span.fa-caret-down
                    span.fa-caret-up
                a(href="#").link.txt-shaft Remove
              td
                p.fw-s.txt-primary $100
            tr
              td
                .media.media-variant-1.product-cart
                  .media-left
                    img(src="images/customer-3.jpg" alt="" width="289" height="145")
                  .media-body
                    h5.block-inline
                      a(href="product-page.html") Union Brown Suede
                    p.offset-top-0 Chukka Boots
                    .size M
              td
                .qnt
                  span Qty:
                  .mfInput
                    input(type="text",placeholder="1")
                    span.fa-caret-down
                    span.fa-caret-up
                a(href="#").link.txt-shaft Remove
              td
                p.fw-s.txt-primary $100

      .cell-lg-3
        .h6.text-darker Subtotal
        .hr-2.offset-top-7
        .h6.fw-s.txt-primary.offset-top-20.offset-lg-top-50 $470
        a(href="checkout.html").btn-default.btn.btn-sm.offset-top-25
          span.content Checkout
          span.fa-angle-right.icon
