//Section About
section.section-before-right.section-before-right-2.section-60.section-lg-top-200.section-lg-bottom-93
  .shell
    .range
      .cell-xs-12.cell-sm-6.cell-sm-preffix-3.cell-md-preffix-0.cell-md-4
        .text-center.section-34.section-lg-76.inset-left-10.inset-right-10.inset-lg-left-80.inset-lg-right-80.bg-concrete
          .img-block.round
            img(src="images/team-3.jpg" alt="" width="323" height="324")
          blockquote.quote
            cite.h5.fw-b Emma Newton
            .big.txt-darker Head Of Design
            p
              q "I adore mixing things up. My favourite ones are the modern, androgynous pieces just as much as pretty, feminine light things and before working here, I don't think I've been able to find that in one place..."
      .cell-xs-12.cell-md-8.offset-top-50.offset-md-top-0
        .inset-lg-left-63
          p.txt-darker Who's the Janestyle woman?
          p She's extremely excited and chimed into the fashion industry and excited by clothes that are original, flattering and well thought through. Definitely not about carbon copies of what everyone else is doing. She's looking for something more creative than that.
          p.txt-darker.offset-top-33 What was your starting point for design?
          p We considered the things we ourselves loved in clothing industry and the mood for our inspirations grew from there. We knew we needed to bring the look of those things back to life and add our complex approach to the styling of it - instead of using one distinct aesthetics.
          p.txt-darker.offset-top-33 You draw a lot of inspiration from art. Can you tell us about that?
          p I'm interested about the part artistry plays in a collection in an always unexpected way. Our initial collection's been inspired by Matisse's cut outs and the work of German fashion person Hannah Hoch.
          p.txt-darker.offset-top-33 Who's your favourite artist?
          p I just love Peter Doig's paintings, his paintings have a dreamy and touchy-feely sense to them, that's definitely something of our style.
          p.txt-darker.offset-top-33 Your personal style mantra?
          p The mix of both androgynous and feminine styles plays out just in a right and unique enough way for us.
          p.txt-darker.offset-top-33 Tell us about Janestyle team...
          p Exclusively original and unique taste and style. It's important that there's a vibe of enthusiasm in all their works they do. There's a great mix, so some of our team members have huge collections of modern clothing, while others exhibit taste in modern haute couture models. The result is a unique mix.
