extends  ../_skeleton

block variables
  - var activeIndex = 4

block title
  title About

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    include ../sections/about/_section-about-1
    include ../sections/about/_section-about-2
    include ../sections/about/_section-about-3

  // Page Footer
  include ../elements/_footer