extends  ../_skeleton
block variables

block title
  title Account

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    include ../sections/account/_section-account-1


  // Page Footer
  include ../elements/_footer