extends  ../_skeleton
block variables
  - var activeFoot = 4

block title
  title FAQ

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    section.section-76.section-lg-top-223.section-before-right.section-before-right-11.section-lg-bottom-202
      .shell.divider.divider-2.block-faq
        h3 FAQ
        .range.offset-lg-top-90
          .cell-xs-12
            h5 Where Are Your Products Made?
            p All the clothing items sold at our store are manufactured in multiple different locations across the USA. Fabrics and textiles are purchased from most reputable American manufacturers.
            h5.offset-top-54 What is Your Sourcing and Design Philosophy?
            p Our design philosophy aims to use the best examples in the world of fashion and to collaborate with as many manufacturers as possible. That is highlighting specific aspect of a culture or country in which a material or technique derives from. The global marketplace is our source for inspiration, and we're striving to protect and employ traditional crafts, produce with sustainable materials, and add skilled makers across the board to our producing. Just like hand-spun, handwoven cotton fabrics from Ethiopia; light silks, processed by women in central India; tactile and soft knits from Japan; professional sewers in New York City’s garment district. Whether local or international we source with integrity from all over the world.
            h5.offset-top-54 What is Your Design Process?
            p Our design process may take some time, yet it is love spiced. Design for everything comes right from our Boston studio. In most cases, we design not only clothes on the output but also the fabrics and materials on the input. Once fabric has been designed our vast team and consultants from multiple countries start their elaborate work of ensuring the style of the end product will be unique.
            h5.offset-top-54 Where Can I Find Your Products?
            p Our online store features the majority of everything that we produce. We also hold some show-room events back in Boston and NYC. If you want to learn more, or request an event in your city, drop us a line at our website. We’d love to hear from you!
            h5.offset-top-54 What Do Your Fabrics Feel Like?
            p We pay big attention and put emphasis on look and feel of the fabric. Our traditional textile is based on using handcrafted cotton and mulberry silk, which has the best possible quality of silk in the world, dyed with 100% natural dyes.
            h5.offset-top-54 How Can I See Your Fabrics?
            p We understand all very well that it is a tough process to buy online without access to clothes, touching their fabrics etc... Want to see a fabric before purchasing one of our products? Email us and ask about our Swatch Program. We’d love to send you swatches of fabrics, free of charge - all for your unique experience in the purchasing process.
            h5.offset-top-54 How Does It Fit?
            p The fitting process takes place individually for every clothing model and size range. That way we ensure that all the items are perfectly crafted for all the sizes represented in our collections.


  // Page Footer
  include ../elements/_footer