extends  ../_skeleton

block variables
  - var activeIndex = 1
  - var rd_header_class_adjuster = "header-centered"
block title
  title Header Centered

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content
    include ../elements/_section_swiper
    include ../sections/index/_section-index-1
    include ../sections/index/_section-index-2

  // Page Footer
  include ../elements/_footer
