extends  ../_skeleton
block variables
  - var activeFoot = 5

block title
  title Loyalty

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    section.section-76.section-lg-top-223.section-before-left.section-before-left-5.section-lg-bottom-202
      .shell.divider.divider-4
        h3 Introducing Janestyle Loyalty Points
        .range
          .cell-xs-12
            img(src="images/loyalty-1.jpg" width="1529" height="501" alt="")
          .cell-lg-10.offset-top-55
            h5 Ladies and gentlemen, boys and girls, we appreciate our customers so much, that we gladly announce Janestyle Loyalty Points!
          .cell-lg-10.offset-top-40
            p So let's get started with explaining the details of that discount program of ours. Janestyle Loyalty Points is our company's way of saying "thank you" for being our loyal customer. We always do offer great deals, incredible discounts and great variety of clothing items. Now Janestyle Loyalty Points means all of that PLUS amazing points of reward thanking you for shopping with us!
          .cell-sm-4.offset-top-40
            .hr-2
        .range.offset-top-40
          .cell-lg-8
            p.txt-shaft What is Janestyle Loyalty Points?
            p You earn Janestyle Loyalty Points for every specific clothing item purchased with us (including the Daily Deal) online at our clothing e-store. You can redeem Janestyle Loyalty Points to buy any another available product within our store at a reduced rate. Just like real cash, 1 point equals 1 cent. So for the 500 points of any of your purchase earned, Janestyle Loyalty Points gets you another $5 off any future order.

            p.txt-shaft.offset-top-40 How specifically is Janestyle Loyalty Points earned?
            p Every purchased item (except for the Daily Deal) will cash you in with 3% of the item's price in Janestyle Loyalty Points.  Daily Deals will earn you points-wise 1% back in Janestyle Loyalty Points. Many items already are offered with some bonus points on them, meaning you will get the regular 3% PLUS additional Janestyle Loyalty Points! And though to buy products on our site an account registered with us is NOT required (you can do it as a guest), you WILL NEED to create a user account with us in order to earn and redeem Janestyle Loyalty Points.

            p.txt-shaft.offset-top-40 A simple rewards program with few restrictions:
            p Different from many other bonus points programs, our Janestyle Loyalty Points have no minimum point balance required to redeem; you can claim your Janestyle Loyalty Points on your very next purchase no matter of the exact number of bonus points in your account. It's called Janestyle Loyalty Points because we actually treat it like cash. You can spend it on any available products you want, even earn and reclaim them within daily deals labeled items at our store. Janestyle Loyalty Points, however, are not included to reduce shipping costs. The normal $5 flat shipping rate, or free shipping on orders over $100 applies (including Canadian and International shipping fees).

            p.offset-top-40 Since every bonus point is worth a cent, it's intuitively easy to calculate how much Janestyle Loyalty Points you have. To the contrary of another bonus points programs out there, where you practically need a PhD to figure out how much your points are actually worth!

            p.txt-shaft.offset-top-40 How to use your reward points:
            p While logged in to your account with us and staying on the Shopping Cart page you can easily slide the bar in the "Spend Your Points" row to choose how many of your points you would like to claim right now (you will obviously not have any points until you make your first purchase, so this is applicable only after making at least 1 purchase using a user account registered with us).
            p.offset-top-40 As soon as you enter the amount of bonus points to spend, the overall price will be recalculated in the "discount" form of your order. That way our discounts work for reducing the purchase checkout sum. If you reduce your cost right down to $0.00, any remaining unused points will be yours to use on future orders.
            p.offset-top-40 Next proceed to Check Out and pay additionally for the shipping fee applicable to your country of residence. And do not forget please that you will need to be logged in to a user account registered with us to be able to see the bonus points balance as well as for using them. So once logged in, at the top right corner of any shopping page simply click on "My Account".  In the upper right corner of that "My Account" section, click on "My Points and Rewards". Here you will find your Janestyle Loyalty Points balance further detail on how you have earned and redeemed points.


  // Page Footer
  include ../elements/_footer