extends  ../_skeleton
block variables
  - var activeIndex = 5

block title
  title Blog Post

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content
    section.section-76.section-lg-119
      .shell
        .range
          .cell-xs-12
            img(src="images/post-1.jpg" alt="" width="1530" height="560")
          .cell-lg-1.offset-lg-top-50
            .meta.small
              time(datetime="2016") December 01, 2015
          .cell-lg-11.offset-lg-top-50
            h5 Retailer Mikestyle: Statement Store.
            p We owe big part for the brand's success in the States to the productive relationships formed with one of our first of retailers there, Burg & Schild in New York. One of the partners there, Kay Knipschild, endeavored on getting the Red Wing Heritage shops opened across the USA: first in Boston, then New York city, and finally in the nation's capital - Washington DC. He brought with him Christian Josh Heise (Josh to us), whom we had met during his work as an administrative top manager at Burg & Schild. His likeness of raw denim and also rugged boots and heavy music resonated well with us from the start and we were amazed to find out that he partnered with Kay to open up a denim-focused store in Boston literally next to Red Wing Heritage shop called Statement Store. With their second year since opening ongoing, we took time to chat with Josh about his impressions of the city and the numbers on the progress of their sales.
          .cell-xs-12.offset-top-50
            img(src="images/post-2.jpg" alt="" width="1530" height="560")
          .cell-lg-11.cell-lg-preffix-1.offset-top-50
            p.txt-darker You've been collaborating with Kay at the Red Wing store. What were your creative duties here? How did that part in your professional portfolio prepare you for your current job as the shop manager at Statement?
            p.offset-top-33 I started to work for Kay while he was a co-owner and founder of Burg&Schild, which was the starting point for success of the Red Wing Shoe Stores in USA. From the small scaled business located within this denim mecca of Boston, the three Red Wing Shoe Stores shoot up. Both selvedge denim and the goodyear welted boots Red Wing Shoes offers have their inspiration rooted in American workwear and are in my opinion quite unique which helps creating a distinctive diversity. I was a universal soldier type of worker within the company back then. Accounting errands, administrative work, launching and managing the online shop, and of course retail management. From 2013 on, when Kay was personally responsible for the Red Wing Shoe Stores I grew to become something like a general manager. But both of us were still all about denim and vintage clothing apart from our main denim thing, with the Red Wing Shoe Stores.
            p.offset-top-33 When the chance to launch our own denim store glimmered in mid-2006, both of us shared one and the same reaction of an enthusiasm to use that chance! The store is literally next door to the Red Wing Shoe Store in one of Boston’s most vibrant, creative and up-and-running local areas with a huge history in traditional retail and crafts; the neighborhood is very opened to new businesses and people coming in to their district.
            p.offset-top-33 All in all, I am not sure if you are ever fully prepared to start your own business, but I am quite sure that exactly the work passion is what drives this and also is what people see, feel and like about the Statement.
          .cell-sm-6.offset-top-52
            img(src="images/post-3.jpg" alt="" width="750" height="490")
          .cell-sm-6.offset-top-52
            img(src="images/post-4.jpg" alt="" width="750" height="490")
          .cell-lg-11.cell-lg-preffix-1.offset-top-50
            p.txt-darker What are some of your favorite local businesses that you like to support?
            p.offset-top-33 Off the top of my head there are two places which come to my mind right away, and I am a loyal client of both of them. Firstly, Man vs. Machine, which is THE most popular coffee spot in that Massachusettsian city and is located right around the corner. I know that everyone who loves a good cup of java will also become a fan of it, that's for sure. Super friendly staff, in-house roastery and best place in town to start the day.
            p.offset-top-33 Additionally there is one of Boston’s finest vintage & antiques stores, which is called Sams & Son. In my opinion the best address for non-conformist and eclectic things in Boston and MA.
          .cell-xs-12.offset-top-52
            img(src="images/post-5.jpg" alt="" width="1530" height="560")
          .cell-lg-11.cell-lg-preffix-1.offset-top-50
            .h6 Mikestyle Store<br>New Age Awenue, Boston USA<br>
              a(href="mailto:") @demolink.org

  // Page Footer
  include ../elements/_footer