extends  ../_skeleton

block variables
  - var activeIndex = 0

block title
  title Privacy Policy

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content

  // Page Footer
  include ../elements/_footer



