extends  ../_skeleton

block variables
  - var activeIndex = 2

block title
  title Product Details

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content
    include ../sections/product/_section-product-1
    include ../sections/product/_section-product-2
    include ../sections/product/_section-product-3

  // Page Footer
  include ../elements/_footer