//Section Recent News
section.section-60.section-md-top-226.section-before-right.section-before-right-10.section-md-bottom-200
  .shell.divider.divider-2
    h3 recent news
    .range
      .cell-lg-2
        p Categories:
        // Isotope filters
        .isotope-filters
          ul.list.text-center.text-sm-left
            li.active(data-isotope-filter="*" data-isotope-group="gallery" )
              span
                | All News
            li(data-isotope-filter="fashion" data-isotope-group="gallery" )
              span
                | Fashion
            li(data-isotope-filter="art" data-isotope-group="gallery" )
              span
                | Art
            li(data-isotope-filter="accessories" data-isotope-group="gallery" )
              span
                | Accessories
            li(data-isotope-filter="retailers" data-isotope-group="gallery" )
              span
                | Retailers
      .cell-lg-10
        // Isotope
        .row.isotope(data-isotope-layout='fitRows', data-isotope-group='gallery')
          .col-sm-6(data-filter='accessories')
            +blog-post("post.html","images/news-1.jpg","December 02, 2015","A Capucha! Shares The Story Behind Their Traditional Portuguese Cloaks","A Capucha is a traditional Portuguese way of saying for things done modestly or discreetly, which also unfolds the uniqueness of the enduringly popular and natural...","#accessories")
          .col-sm-6(data-filter='fashion')
            +blog-post("post.html","images/news-2.jpg","December 01, 2015","Gallery Girls Takeover","It's impossible to switch off the buzz of the Instagram storming and trending surrounding The Broad Museum big opening happening in Los Angeles. We will make any excuse to buy a new dress or boots, especially when it","#fashion")
          .col-sm-6(data-filter='accessories')
            +blog-post("post.html","images/news-3.jpg","December 10, 2015","Celeb Trends: Hats","Winter time means that the season of hats is back. So regardless of do you like a trendy boho floppy hat, a gymesque baseball hat or a classic old-school wide brimmed one, there’s a hat which calls for you specifically...","#accessories")
          .col-sm-6(data-filter='art')
            +blog-post("post.html","images/news-4.jpg","December 12, 2015","Scream Queens Style Inspo","Halloween is only couple of days away and we have chosen our most adored scream queens to bring you some style inspirations. The Addams Family Wednesday signature style is the mix of white and office like style with gothic...","#art")
          .col-sm-6(data-filter='art')
            +blog-post("post.html","images/news-5.jpg","December 21, 2015","Bloggers Dare to Wear Denim","We have a vast range of denim jeans of unique styles available today such as boyfriend, acid wash, flared, jeggings and our extremely popular ripped knee jeans! We recently asked our bloggers to style our latest denim pieces. Check out how they did them... Nancy from...","#art")
          .col-sm-6(data-filter='retailers')
            +blog-post("post.html","images/news-6.jpg","December 14, 2015","Top Tips For Decluttering Your Wardrobe","With the months getting warmer, now is the perfect time to upgrade your whole wardrobe. So, whether you're saying ciao to the last year fashion of yours, or building up on your top essentials out of a drawer, it's time to free some space in the wardrobe up. Which means decluttering your overloaded...","#retailers")
    .text-center.offset-top-30.offset-lg-top-52
      a(href="post.html").btn-default.btn.btn-sm.clearfix
        span.content Learn more
        span.fa-angle-right.icon
