footer.page-foot.section-35.text-center.text-lg-left.footer-minimal
  .shell
    .range.text-center.range-xs-middle
      .cell-md-6.text-md-left
        // RD Navbar Brand
        .rd-navbar-brand
          a.brand-name.h1(href='index.html')
            span janestyle


      .cell-md-6.text-md-right
        h6 Customer Service
        ul.list-marked
          li(class=(activeFoot == '1' ? 'active' : ''))
            a(href="terms.html") Terms
          li(class=(activeFoot == '2' ? 'active' : ''))
            a(href="returns.html") Returns
          li(class=(activeFoot == '3' ? 'active' : ''))
            a(href="shipping.html") Shipping
          li(class=(activeFoot == '4' ? 'active' : ''))
            a(href="faq.html") FAQ
          li(class=(activeFoot == '5' ? 'active' : ''))
            a(href="loyalty.html") Loyalty