- var rd_navbar_data_adjuster={"data-layout":"rd-navbar-fixed" ,"data-sm-layout":"rd-navbar-fullwidth", "data-lg-layout":"rd-navbar-static" ,"data-device-layout":"rd-navbar-fixed", "data-sm-device-layout":"rd-navbar-fixed","data-lg-device-layout":"rd-navbar-static" }
header.page-head(class="#{rd_header_class_adjuster}")
  include _navigation
  include ../elements/_section_swiper