// RD Navbar
.rd-navbar-wrap
  nav.rd-navbar&attributes(rd_navbar_data_adjuster)
    button.rd-navbar-toggle(data-custom-toggle='rd-navbar-inner')
      i.menu
    .rd-navbar-inner.text-center#rd-navbar-inner
      // RD Navbar Panel
      .rd-navbar-panel
        // RD Navbar Toggle
        button.rd-navbar-toggle.rd-navbar-toggle-1(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
          span
        // RD Navbar Brand
        .rd-navbar-brand
          a.brand-name.h1(href='index.html')
            span janestyle
      .rd-navbar-nav-wrap
        // RD Navbar Nav
        ul.rd-navbar-nav
          li(class=(activeIndex == '1' ? 'active' : ''))
            a(href='./') Home
            //RD Navbar Dropdown
            ul.rd-navbar-dropdown
              li
                a(href='index.html') Header Default
              li
                a(href='index-centered.html') Header Centered
              li
                a(href='index-hamburger.html') Header Hamburger
              li
                a(href='index.html') Footer Default
              li
                a(href='footer-center.html') Footer Center
              li
                a(href='footer-minimal.html') Footer Minimal
              li
                a(href="terms.html") Terms
              li
                a(href="returns.html") Returns
              li
                a(href="shipping.html") Shipping
              li
                a(href="faq.html") FAQ
              li
                a(href="loyalty.html") Loyalty

          li(class=(activeIndex == '2' ? 'active' : ''))
            a(href='shop.html') Shop
            //RD Navbar Dropdown
            ul.rd-navbar-dropdown
              li
                a(href='customer.html') Customer Info
              li
                a(href='account.html') My account
              li
                a(href='cart.html') Shopping Cart
              li
                a(href='payment.html') Payment
              li
                a(href='shipping-1.html') Shipping
          li(class=(activeIndex == '3' ? 'active' : ''))
            a(href='retailers.html') Retailers
          li(class=(activeIndex == '4' ? 'active' : ''))
            a(href='about.html') About
            //RD Navbar Dropdown
            ul.rd-navbar-dropdown
              li
                a(href='team.html') Our Team
          li(class=(activeIndex == '5' ? 'active' : ''))
            a(href='news.html') News
            //RD Navbar Dropdown
            ul.rd-navbar-dropdown
              li
                a(href='post.html') Post Page
      .navbar-right-panel
        button.rd-navbar-collapse-toggle(data-rd-navbar-toggle=".add-menu" type="submit")
          span
        a(href="cart.html").fa-shopping-cart.icon.icon-xs.icon-white.cart-toggle
        .add-menu
          .form-group.select
            label(for='select-1')
            select#select-1.rd-mailform-select(name='select')
              option(value='English' selected) English
              option(value='Spanish') Spanish
              option(value='Ukrainian') Ukrainian
          a(href="login.html") Log in
          a.link-cart(href="cart.html")
            span Your Cart
            span.fa-shopping-cart.icon.icon-xs.icon-white
