// Swiper
.swiper-container.swiper-slider.gallery-top(data-height='', data-min-height='300px',data-autoplay="false", data-loop="false")
  .swiper-wrapper.text-center
    .swiper-slide(data-slide-bg='images/slider-1.jpg')
      .swiper-slide-caption.text-center.text-lg-right.container
        span new
        span New Style
        span Profiles

    .swiper-slide(data-slide-bg='images/slider-2.jpg')
      .swiper-slide-caption.text-center.text-lg-right.container
        span 2016
        span Introducing
        span Holiday 2016

    .swiper-slide(data-slide-bg='images/slider-3.jpg')
      .swiper-slide-caption.text-center.text-lg-left.container.swiper-slide-caption-mod-1
        span store
        span Retailer Janestyle
        span Brand Store

.swiper-container.variant-1.text-center.section-xl-60.section-40
  .shell.gallery-thumbs
    .swiper-wrapper
      .swiper-slide
        h4 New Style<br> Profiles
      .swiper-slide
        h4 Introducing<br> Holiday 2016
      .swiper-slide
        h4 Retailer Janestyle:<br>Brand Store