extends  ../_skeleton
block variables
  - var activeFoot = 3

block title
  title Shipping

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    section.section-76.section-lg-213.section-before-right.section-before-right-4
      .shell.divider.divider-2
        h3 Shipping
        .range
          .cell-xs-12
            h5 Shipping Address
            p Please note that Janestyle store only ships purchases to the billing address which is registered under your credit card on file. We understand that receiving orders delivered at your home address may not always be convenient and that you may prefer to receive boxes to an office or at any another location. To accommodate this, we suggest asking your bank about adding an additional address to the existing billing address that is registered to card on file. Once done, you’ll be able to use such an alternate shipping destination as well.
            h5.offset-top-50 US Shipping
            p Janestyle aims to ship out your order as soon as it is only viable. Purchased items will be sent and shipped within 3 business days of the order via USPS Priority Mail. Shipping process happens only Monday through Friday. Please note that overall the process may take up maximum of 7 regular, non-business days; if you still did not receive your purchase after 7 or more days, please notify info@Janestyle.com and include your order date and Transaction ID.
            p.offset-top-50.txt-shaft For expedited shipping, the following rates apply:<br>+$20 for Domestic 2-day<br>+$40 for Overnight
            h5.offset-top-50 International Shipping
            p We ship internationally to all of the countries where our provider USPS operates. International orders usually take anywhere from 1-2 weeks to arrive. However if you did not receive your purchase within 3 weeks or more, please notify info@Janestyle.com and include your order date and Transaction ID.
            p.offset-top-30 Please kindly note that Janestyle is not responsible for any additional fees taxed by any specific country for imported goods. The customer assumes responsibility for any additional charges or rejected packages.


  // Page Footer
  include ../elements/_footer