//Section Customer Information
section.section-37.section-lg-119
  .shell
    .range
      .cell-lg-6.cell-lg-push-2
        .media.media-variant-1.product-cart
          .media-left
            img(src="images/customer-1.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Pull&Bear
            .price.pull-lg-right $100
            p.offset-top-0 Super Skinny Fit Jeans
            .size M
        .media.media-variant-1.product-cart.offset-top-55
          .media-left
            img(src="images/customer-2.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Diamond Pointelle
            .price.pull-lg-right $200
            p.offset-top-0 Kimono
            .size M
        .media.media-variant-1.product-cart.offset-top-55
          .media-left
            img(src="images/customer-3.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Union Brown Suede
            .price.pull-lg-right $170
            p.offset-top-0 Chukka Boots
            .size M
        hr
        form.form-custom-2.form-inline-flex-xs.text-center
          .form-group
            input#coupon.form-control(type='text',placeholder="Discount Code")
          button( type="submit").btn.btn-default.btn-md Apply
        hr
        p Subtotal
          span.fw-s.txt-primary.pull-right $470
        p Shipping
          span.fw-s.txt-primary.pull-right $30
        p Taxes
          span.fw-s.txt-primary.pull-right $0
        hr
        p.txt-shaft Total
          span.fw-s.txt-primary.pull-right.h6 $500


      .cell-lg-6.cell-lg-push-1.offset-top-60.offset-lg-top-0
        .block-customer-info.bg-concrete.section-37.section-lg-119.inset-xl-left-130.inset-xl-right-130.inset-left-26.inset-right-26
          h6.txt-shaft Customer information
          form.form-custom-1(role='form')
            .form-group
              input#email.form-control(type='email',placeholder="Email")
              p Already have an account with us?
                =' '
                a(href="sign.html") Log in
              h6.txt-shaft Shipping Address
              .range.offset-top-9
                .cell-sm-6
                  .form-group
                    input#firstName.form-control(type='text',placeholder="First Name")
                .cell-sm-6
                  .form-group
                    input#secName.form-control(type='text',placeholder="Last Name")
            .form-group
              input#company.form-control(type='text',placeholder="Company(optional)")
            .range
              .cell-sm-6
                .form-group
                  input#address.form-control(type='text',placeholder="Address")
              .cell-sm-6
                .form-group
                  input#city.form-control(type='text',placeholder="City")
            .range
              .cell-sm-6
                .form-group
                  input#country.form-control(type='text',placeholder="Country")
              .cell-sm-6
                .form-group
                  input#zipcode.form-control(type='text',placeholder="Zip Code")

          a(href="cart.html").offset-xs-top-60.offset-top-9.link.block-xs Back to Cart
          a(href="shipping-1.html").btn-default.btn.btn-sm.clearfix.pull-xs-right.offset-xs-top-50.offset-top-9
            span.content Go to shipping
            span.fa-angle-right.icon

