//Section New Arrivals
section.section-93.section-lg-213.section-before-right.section-before-right-5
  .shell.divider.divider-2
    h3 New arrivals
    .range
      .cell-xs-6.cell-sm-3
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-1.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Skinny
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-xs-top-0
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-2.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Soft
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-sm-top-0
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-3.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Christmas Elegant
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-sm-top-0
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-4.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") The Essential Black
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-5.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Navy
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-6.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Santa man
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-7.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Sport
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-8.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Aggressive Red
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-9.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Casual Perry
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-10.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Crocodile
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-11.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Ordinary me
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-12.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Alphabet
            p Silk Tie
            .h5.price $49
    .text-center.offset-top-75
      a(href="#").btn-default.btn.btn-sm
        span.content Show more
        span.fa-angle-right.icon
