footer.page-foot.section-60.text-center.text-lg-left.footer-center
  .shell.text-center
    .range
      .cell-xs-12
        // RD Navbar Brand
        .rd-navbar-brand
          a.brand-name.h1(href='index.html')
            span janestyle
      .cell-xs-12.offset-top-36
        ul.list-marked
          li(class=(activeFoot == '1' ? 'active' : ''))
            a(href="terms.html") Terms
          li(class=(activeFoot == '2' ? 'active' : ''))
            a(href="returns.html") Returns
          li(class=(activeFoot == '3' ? 'active' : ''))
            a(href="shipping.html") Shipping
          li(class=(activeFoot == '4' ? 'active' : ''))
            a(href="faq.html") FAQ
          li(class=(activeFoot == '5' ? 'active' : ''))
            a(href="loyalty.html") Loyalty
      .cell-xs-12.offset-top-36
        ul.list-inline
          li
            a(href="#").fa-facebook.icon.icon-md.icon-emperor
          li
            a(href="#").fa-twitter.icon.icon-md.icon-emperor
          li
            a(href="#").fa-instagram.icon.icon-md.icon-emperor

