footer.page-foot.section-60.section-xl-150.text-center.text-lg-left
  .shell
    .range
      .cell-xs-12.cell-lg-4
        // RD Navbar Brand
        .rd-navbar-brand
          a.brand-name.h1(href='index.html')
            span janestyle
        ul.list-inline
          li
            a(href="#").fa-facebook.icon.icon-md.icon-emperor
          li
            a(href="#").fa-twitter.icon.icon-md.icon-emperor
          li
            a(href="#").fa-instagram.icon.icon-md.icon-emperor

      .cell-xs-12.cell-lg-2
        h6 Customer Service
        ul.list-marked
          li(class=(activeFoot == '1' ? 'active' : ''))
            a(href="terms.html") Terms
          li(class=(activeFoot == '2' ? 'active' : ''))
            a(href="returns.html") Returns
          li(class=(activeFoot == '3' ? 'active' : ''))
            a(href="shipping.html") Shipping
          li(class=(activeFoot == '4' ? 'active' : ''))
            a(href="faq.html") FAQ
          li(class=(activeFoot == '5' ? 'active' : ''))
            a(href="loyalty.html") Loyalty
      .cell-xs-12.cell-lg-2
        h6 Contacts
        address.address
          span 100 Warrenton St Boston,<br>MA 02116
        .contact-info
          a(href="callto:#") +1 (204) 345 6789<br>
          a(href="mailto:#") Wholesale@demolink.org<br>
          a(href="mailto:#") Info@demolink.org
      .cell-xs-12.cell-sm-6.cell-sm-preffix-3.cell-lg-preffix-0.cell-lg-4
        // Rd Mailform result field
        .rd-mailform-validate
        h6 Newsletter
        // RD Mailform
        form.rd-mailform.form-inline-flex-xs(data-result-class='rd-mailform-validate', data-form-type='subscribe', method='post', action='bat/rd-mailform.php')
          input(type='text', name='email', data-constraints='@NotEmpty @Email', placeholder='')
          button.btn.btn-dove-gray.btn-sm Subscribe

        p.small Stay up to date with all the latest Janestyle news.