//Section All retailers
section.section-bottom-60.section-top-0.section-md-top-76.section-lg-top-150.section-before-right.section-before-right-6.section-lg-bottom-179
  .shell.divider.divider-3
    h3 all retailers
    .range
      .cell-xs-12
        p Select your region:
        // Responsive-tabs
        .responsive-tabs.responsive-tabs-default.responsive-tabs-variant-2
          ul.resp-tabs-list
            li
              h5 United States
            li
              h5 Europe
            li
              h5 Asia
          .resp-tabs-container
            div
              ul.list-marked
                li
                  a(href="#") Denim (Madrid)
                li
                  a(href="#") Konig (Berlin)
                li
                  a(href="#") Burg (Berlin)
                li
                  a(href="#") Crappy (Moscow)
              ul.list-marked
                li
                  a(href="#") Culritz (Munich)
                li
                  a(href="#") Heads (Minsk)
                li
                  a(href="#") Fatcat (Rostov)
                li
                  a(href="#") Jeanswear (Rostov)
            div
              ul.list-marked
                li
                  a(href="#") Denim (Madrid)
                li
                  a(href="#") Konig (Berlin)
                li
                  a(href="#") Burg (Berlin)
                li
                  a(href="#") Crappy (Moscow)
              ul.list-marked
                li
                  a(href="#") Culritz (Munich)
                li
                  a(href="#") Heads (Minsk)
                li
                  a(href="#") Fatcat (Rostov)
                li
                  a(href="#") Jeanswear (Rostov)
              ul.list-marked
                li
                  a(href="#") The Heade (New-York)
                li
                  a(href="#") Sheadow (Malta)
                li
                  a(href="#") Piggs & Sons (Boston)
                li
                  a(href="#") Rivet & Buvet (London)
              ul.list-marked
                li
                  a(href="#") Silverstome (Prague)
                li
                  a(href="#") State (Rome)
                li
                  a(href="#") Water & Salt (Zurich)
                li
                  a(href="#") VCL Casual (Hamburg)
            div
              ul.list-marked
                li
                  a(href="#") The Heade (New-York)
                li
                  a(href="#") Sheadow (Malta)
                li
                  a(href="#") Piggs & Sons (Boston)
                li
                  a(href="#") Rivet & Buvet (London)
              ul.list-marked
                li
                  a(href="#") Silverstome (Prague)
                li
                  a(href="#") State (Rome)
                li
                  a(href="#") Water & Salt (Zurich)
                li
                  a(href="#") VCL Casual (Hamburg)
