extends  ../_skeleton
block variables
  - var activeIndex = ''

block title
  title Sign in

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    //Section Breadcrumbs
    section.section-37.bg-dark
      .shell
        .range
          .cell-xs-12.cell-sm-7.cell-lg-6
            ul.breadcrumb
              li
                a(href="cart.html") Cart
              li
                a(href="customer.html") Customer Info
              li
                a(href="shipping-1.html") Shipping
              li
                a(href="payments.html") Payments
              li.active
                span Log In

    section.section-lg-119.section-37
      .shell
        .bg-concrete.section-lg-119.section-37.inset-left-10.inset-right-10.inset-left-lg-0.inset-right-lg-0
          h5.fw-s.inset-lg-left-130.inset-lg-right-130.inset-left-10.inset-right-10 Please Log in or Sign Up to Take More Advantages
          .range
            .cell-lg-preffix-1.cell-sm-5.cell-md-4
              // Responsive-tabs
              .responsive-tabs.responsive-tabs-default.responsive-tabs-variant-4
                ul.resp-tabs-list
                  li.txt-darker Log in
                  li.txt-darker Sign Up
                .resp-tabs-container
                  div
                    form.form-custom-1(role='form').offset-top-0.offset-sm-top-40
                      .form-group
                        label(for="email").small.txt-shaft-2 Email
                        input#email.form-control.offset-top-9(type='email')
                      .form-group
                        label(for="email").small.txt-shaft-2 Password
                        input#password.form-control.offset-top-9(type='password')
                      a(href="#").link.block-xs.pull-right.clearfix.offset-top-27.link-xs.txt-shaft-2 Forgot Your Password?
                      .checkbox.offset-top-60
                        label.mfCheckbox.small
                          input.mfCheckbox__input(type="checkbox" value="")
                          span Subscribe to our newsletter
                      button.btn-default.btn.btn-sm.offset-top-30(type="submit")
                        span.content Log in
                        span.fa-angle-right.icon
                  div
                    form.form-custom-1(role='form').offset-sm-top-40
                      .form-group
                        label(for="name").small.txt-shaft-2 Your Name
                        input#name.form-control.offset-top-9(type='text')
                      .form-group
                        label(for="email1").small.txt-shaft-2 Email
                        input#email1.form-control.offset-top-9(type='email')
                      .form-group
                        label(for="password1").small.txt-shaft-2 Password
                        input#password1.form-control.offset-top-9(type='password')
                      .form-group
                        label(for="password2").small.txt-shaft-2 Password Confirmation
                        input#password2.form-control.offset-top-9(type='password')
                      .checkbox.offset-top-30
                        label.mfCheckbox.small
                          input.mfCheckbox__input(type="checkbox" value="")
                          span Subscribe to our newsletter
                      button.btn-default.btn.btn-sm.offset-lg-top-30(type="submit")
                        span.content Sign up
                        span.fa-angle-right.icon
            .cell-sm-1.text-center.text-sm-right
              h6 Or
            .cell-sm-3.text-center
             a(href="#").btn-primary.btn.btn-lg
                span.content Sign in with Facebook
              a(href="#").btn-primary.btn.btn-lg.offset-top-20
                span.content Sign in with Google


  // Page Footer
  include ../elements/_footer