extends  ../_skeleton
block variables
  - var activeFoot = 2

block title
  title Returns

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    section.section-76.section-lg-top-223.section-before-right.section-before-right-8.section-lg-bottom-200
      .shell.divider.divider-2
        h3 Return policy
        .range
          .cell-xs-12
            h5 Returns
            p Please refer to the following return policies:<br> Customer may return the package to store's default shipping address, and also compensate the shipping fee for returning the package only if the company's representative has authorized the return. Please contact our customer service for further advice. There are some notable exemptions from refunds, returns and exchanges policy Items which are absent from refunds, exchanges or replacements include all apparel sold under the category of underwear (women's intimates) and also all the swimwear clothing offered at our store.
            h5.offset-top-50 Exchanges
            p If you wish to exchange instead of returning your purchase for a different size or style, we advise you to simply purchase the product you want instead (this guarantees that the item will not be sold and out of stock). You may then send us back your original purchase using the instructions above. If you have any further questions about certain styles or sizes which are to be restocked, please email us at
              =' '
              a(href="mailto:") info@demolink.org

  // Page Footer
  include ../elements/_footer