extends  ../_skeleton
block variables
  - var activeFoot = 1

block title
  title Terms

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    section.section-76.section-lg-top-223.section-before-right.section-before-right-8.section-lg-bottom-200
      .shell.divider.divider-2
        h3 Janestyle policies
        .range.offset-top-65
          .cell-xs-12
            h5 Terms & Conditions
            p.offset-top-40 All site content is copyright of Janestyle, Inc. and may not be reproduced in any manner without the express written consent of Janestyle.
            h5.offset-top-50 Payments
            p.offset-top-40 We accept Visa, MasterCard, American Express, Discover, and PayPal. All payments are processed through our 100% secure server and your information is protected with the highest level of care and protection.
            h5.offset-top-50 Product Availability
            p.offset-top-40 Although an item may be indicated as in stock on our site, we can't guarantee product availability and some products may not be available for immediate delivery. We reserve the right, without liability or prior notice, to revise, discontinue, or cease to make available any or all products or to cancel any order.
            h5.offset-top-50 Privacy
            p.offset-top-40 Your privacy is important to us. We do not collect personally identifiable information about you on this site without your knowledge, and all such information is collected directly from you. We may utilize your email address to send communications to you, but there is always an opt-out at the bottom of every communication. If there are any questions you have that haven't been covered here, please email us at info@demolink.org and we'll reply to your inquiry as soon as possible.
  // Page Footer
  include ../elements/_footer
  //coded by Darthvoider