//Section Product
section.section-lg-114.section-60
  .shell
    .range
      .cell-md-6
        .product-carousel(data-lightbox="gallery")
          // Slick Carousel
          .carousel-slider.slider
            .item
              a(href="images/product-1_original.jpg" data-lightbox="image")
                img(src="images/product-1.jpg" alt="")
            .item
              a(href="images/product-1_original.jpg" data-lightbox="image")
                img(src="images/product-1.jpg" alt="")
            .item
              a(href="images/product-1_original.jpg" data-lightbox="image")
                img(src="images/product-1.jpg" alt="")
          .carousel-thumbnail.slider
            .item
              .img-block
                img(src="images/product-2.jpg" alt="")
            .item
              .img-block
                img(src="images/product-3.jpg" alt="")
            .item
              .img-block
                img(src="images/product-4.jpg" alt="")
      .cell-md-6
        .product.inset-lg-left-26
          p Ref: 9087465
          p.h4 The Essential Black
          p Silk Tie
          p.price $49
          p This black tie is an essential part of everyday's wardrobe for men of all ages. Such business wardrobe piece comes in a classic style, mixed with smooth weaved fabrics.  This adds on for comfort and soft touch. The best thing about the material probably, is that the colors depth will not be washed off during the laundry.
          .hr-3.offset-top-22
          .row.offset-top-40
            .col-xs-12.col-sm-6
              ul.list-inline.sizes
                li Size:
                li S
                li M
                li L
                li XL
                li 2X
                li N/A
            .col-xs-12.col-sm-6
              .pull-sm-right
                a(href="#").link If your size is out of stock
          ul.list-inline.colors
            li Color:
            li
            li
            li
            li
            li
          .qnt
            span Qty:
            .mfInput
              input.numbers-only(type="text",placeholder="1")
              span.fa-caret-down
              span.fa-caret-up
          .btn-group
            ul.list-inline.offset-top-55
              li
                a(href="#").fa-heart.icon.icon-sm.icon-default-2
              li
                a(href="#").fa-share-alt.icon.icon-sm.icon-default-2
              li
                a(href="#").btn-default.btn.btn-sm
                  span.fa-shopping-cart
                  span.content Add to cart
                  span.fa-angle-right
    .range
      .cell-xs-12
        // Responsive-tabs
        .responsive-tabs.responsive-tabs-variant-1.responsive-tabs-default
          ul.resp-tabs-list
            li
              h6 Details
            li
              h6 Delivery & Returns
            li
              h6 Feedback
          .resp-tabs-container
            div
              ul.list
                li 100% cotton
                li Modern style
                li Steel buttons
                li Double needle
                li Minimal shrinkage with cold hang dry/wash
                li Made in USA
            div
              ul.list
                li 100% cotton
                li Modern style
                li Steel buttons
            div
              ul.list
                li Double needle
                li Minimal shrinkage with cold hang dry/wash
                li Made in USA
