//Section You may also like
section.section-76.section-lg-138.section-before-right.section-lg-bottom-213.section-before-right-9
  .shell.divider.divider-2
    h3 You may also like
    .range
      .cell-xs-6.cell-sm-3
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-5.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Navy
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-xs-top-0
        .thumbnail
          a(href="product-page.html").figure.bestseller
            img(src="images/shop-6.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Santa man
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-sm-top-0
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-7.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Sport
            p Silk Tie
            .h5.price $49
      .cell-xs-6.cell-sm-3.offset-top-65.offset-sm-top-0
        .thumbnail
          a(href="product-page.html").figure
            img(src="images/shop-8.jpg" alt="" width="360" height="390")
          .caption
            h5
              a(href="product-page.html") Aggressive Red
            p Silk Tie
            .h5.price $49

