//Section The shop
section.section-top-233.section-bottom-213.section-before-left
  .shell.divider.divider-1
    .range
      .cell-xs-6.cell-sm-6.cell-lg-4
        h3 The shop
      .cell-xs-12.cell-sm-6.cell-sm-6.cell-lg-3.cell-lg-preffix-3
        a(href="#").btn-link.clearfix.offset-lg-top-25.pull-lg-right
          span.content See all collection
          span.fa-angle-right.icon
    .range
      .cell-md-8
        .range
          .cell-xs-12
            a(href="#").figure
              img(src="images/index-1.jpg" alt="" width="1010" height="489")
              .figure-caption
                span.h4 T-Shirts
          .cell-xs-6.offset-top-30
            a(href="#").figure.figure-2
              img(src="images/index-3.jpg" alt="" width="490" height="489")
              .figure-caption
                span.h4 Shirts
          .cell-xs-6.offset-top-30
            a(href="#").figure.figure-2
              img(src="images/index-4.jpg" alt="" width="490" height="489")
              .figure-caption
                span.h4 Footwear
      .cell-md-4.display-flex
        a(href="#").figure.figure-3
          .figure-caption
            span.h4 Jeans