//Section Daily Updates
section.section-top-93.section-before-right
  .shell
    .range
      .cell-xs-4.cell-lg-5
        h3 Daily Updates
      .cell-xs-8.cell-lg-3.cell-lg-preffix-2
        a(href="#").btn-link.pull-sm-right.clearfix.offset-top-4
          span.content Janestyle on Instagram
          span.fa-angle-right.icon
  .range.range-condensed(data-lightbox="gallery")
    .cell-xs-4
      a(href="images/index-5.jpg" data-lightbox="image").figure
        img(src="images/index-5.jpg" alt="" width="684" height="644")
    .cell-xs-4
      a(href="images/index-6.jpg" data-lightbox="image").figure
        img(src="images/index-6.jpg" alt="" width="684" height="644")
    .cell-xs-4
      a(href="images/index-7.jpg" data-lightbox="image").figure
        img(src="images/index-7.jpg" alt="" width="684" height="644")
    .cell-xs-4
      a(href="images/index-8.jpg" data-lightbox="image").figure
        img(src="images/index-8.jpg" alt="" width="684" height="644")
    .cell-xs-4
      a(href="images/index-9.jpg" data-lightbox="image").figure
        img(src="images/index-9.jpg" alt="" width="684" height="644")
    .cell-xs-4
      a(href="images/index-10.jpg" data-lightbox="image").figure
        img(src="images/index-10.jpg" alt="" width="684" height="644")

