extends  ../_skeleton
block variables
  - var activeIndex = 1

block title
  title Shipping

block page
  // Page Header
  include ../elements/_header
  // Page Content
  main.page-content
    include ../sections/shipping/_section-shipping-1
    include ../sections/shipping/_section-shipping-2


  // Page Footer
  include ../elements/_footer