extends  ../_skeleton

block variables
  - var activeIndex = 2

block title
  title Shop

block page
  // Page Header
  include ../elements/_header

  // Page Content
  main.page-content
    include ../sections/shop/_section-shop-1
    include ../sections/shop/_section-shop-2

  // Page Footer
  include ../elements/_footer