//Section About Janestyle
section.section-before-left.section-60.section-lg-top-226.section-lg-bottom-138.section-before-left-2
  .shell.divider.divider-1
    h3 About janestyle
    .range
      .cell-xs-12
        img(src="images/about-1.jpg" alt="" width="1529" height="490")
      .cell-sm-6.offset-top-55
        h5 We want to be a denim brand first of all.
        p.offset-top-33 With the company's history dating 10 years back, we always felt desire to tell some kind of complete story with our clothes. So the original style mixed with an androgynous feel of a modern day makes us what we actually are.
      .cell-sm-5.offset-top-55
        p We like the design part of the clothes as much as you do. We are also sure that the visual appeal of any wardrobe item can be easily integrated with the practicality and a balance can be achieved.
        p.offset-top-30 The Janestyle fashion company aims to bring the best in clothes design to you, from all over the world across all the styles and cultures.
