//Section Company's History
section.section-before-right.section-before-right-5.section-60.section-lg-top-179.section-lg-bottom-138
  .shell
    .range
      .cell-md-4.offset-top-50.offset-md-top-0
        img(src="images/about-2.jpg" alt="" width="490" height="494")
        h4.font-sec.offset-top-20.offset-lg-top-55 Company's history
        p.offset-top-20 Janestyle is an online clothes retailer with a unique approach and an undeniably stylish look. Born back in 2006, with founders team based in Boston, USA. Such a group of like-minded design professionals in one place is destined to make the result of such a work to be bright and exciting.
      .cell-md-4.offset-top-50.offset-md-top-0
        img(src="images/about-3.jpg" alt="" width="490" height="494")
        h4.font-sec.offset-top-20.offset-lg-top-55 Our Vision
        p.offset-top-20 It's really simple - we aim to make our clothes stylish, original and accessible, making materials quality and durability a vocal point. We produce everything we do with a grain of love into it, and our customers can always feel it in our end product.
      .cell-md-4.offset-top-50.offset-md-top-0
        img(src="images/about-4.jpg" alt="" width="490" height="494")
        h4.font-sec.offset-top-20.offset-lg-top-55 Our Values
        p.offset-top-20 Our long list of retailers around the globe supplies us with the most diverse styles and clothes, which helps us balance the third most important factor for us - keeping everything we do balanced in price and affordable.