//Section Our Team
section.section-before-left.section-top-60.section-lg-top-179.section-bottom-0.section-before-left-4
  .shell.divider.divider-2
    .range
      .cell-xs-6.cell-lg-5
        h3 Our team
      .cell-xs-6.cell-lg-3.cell-lg-preffix-2.text-right.inset-right-26.inset-lg-right-0
        a(href="team.html").btn-link.pull-xs-right.clearfix.offset-top-13
          span.content Meet our team
          span.fa-angle-right.icon
      .cell-xs-8.offset-top-60
        p The most innovative and talented designers in Boston are  united under our banners - with each of their individual vision and creativity complimenting one another.
  .shell-wide.offset-top-9
    .range-condensed.range
      .cell-xs-3
        img(src="images/about-5.jpg" alt="" width="513" height="644")
      .cell-xs-3
        img(src="images/about-6.jpg" alt="" width="513" height="644")
      .cell-xs-3
        img(src="images/about-7.jpg" alt="" width="513" height="644")
      .cell-xs-3
        img(src="images/about-8.jpg" alt="" width="513" height="644")
