// RD Navbar
.rd-navbar-wrap
  nav.rd-navbar(data-layout='rd-navbar-fixed' ,data-sm-layout='rd-navbar-fullwidth', data-lg-layout='rd-navbar-static' ,data-device-layout="rd-navbar-fixed",data-sm-device-layout="rd-navbar-fixed",data-lg-device-layout="rd-navbar-static" )
    .rd-navbar-inner.text-center
      // RD Navbar Panel
      .rd-navbar-panel
        // RD Navbar Toggle
        button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
          span
        // RD Navbar Brand
        .rd-navbar-brand
          a.brand-name.h1(href='index.html')
            span janestyle
      .rd-navbar-nav-wrap
        // RD Navbar Nav
        ul.rd-navbar-nav
          li(class=(activeIndex == '1' ? 'active' : ''))
            a(href='./') Home
            //RD Navbar Dropdown
            ul.rd-navbar-dropdown
              li
                a(href='customer.html') Customer Info
              li
                a(href='account.html') My account
              li
                a(href='cart.html') Shop Cart
              li
                a(href='payment.html') Payment
              li
                a(href='payment.html') Shipping

          li(class=(activeIndex == '2' ? 'active' : ''))
            a(href='shop.html') Shop
          li(class=(activeIndex == '3' ? 'active' : ''))
            a(href='retailers.html') Retailers
          li(class=(activeIndex == '4' ? 'active' : ''))
            a(href='about.html') About
          li(class=(activeIndex == '5' ? 'active' : ''))
            a(href='news.html') News
      .navbar-right-panel
        button.rd-navbar-collapse-toggle(data-rd-navbar-toggle=".add-menu" type="submit")
          span
        a(href="cart.html").fa-shopping-cart.icon.icon-xs.icon-white
        .add-menu
          .form-group
            label(for='select-1')
            select#select-1.rd-mailform-select(name='select')
              option(value='English' selected) English
              option(value='Spanish') Spanish
              option(value='Ukrainian') Ukrainian
          a(href="login.html") Log in
          a.link-cart(href="cart.html")
            span Your Cart
            span.fa-shopping-cart.icon.icon-xs.icon-white
