//Section Breadcrumbs
section.section-37.bg-dark
  .shell

    .range
      .cell-xs-12.cell-sm-7.cell-lg-6
        ul.breadcrumb
          li
            a(href="#") Shop
          li.active
            a(href="#") New Arrivals
          li
            a(href="#") Jeans
          li
            a(href="#") Shirts
          li
            a(href="#") Teens
          li
            a(href="#") Footwear
          li
            a(href="#") Accessories
      .cell-xs-12.cell-sm-5.cell-lg-4.cell-lg-preffix-2
        .select-group.pull-sm-right
          .form-group
            label(for='select-2')
            select#select-2.rd-mailform-select(name='select')
              option(value='Men' selected) Men
              option(value='Women') Women
          .form-group
            label(for='select-3')
            select#select-3.rd-mailform-select(name='select')
              option(value='Color' selected) Color
              option(value='Red') Red
              option(value='Green') Green
              option(value='Blue') Blue
          .form-group
            label(for='select-4')
            select#select-4.rd-mailform-select(name='select')
              option(value='Size' selected) Size
              option(value='S') S
              option(value='M') M
              option(value='L') L