// Swiper
.swiper-container.swiper-slider.gallery-top(data-height='', data-min-height='300px',data-autoplay="false", data-loop="false")
  .swiper-wrapper
    .swiper-slide(data-slide-bg='images/slider-1.jpg')
      .swiper-slide-caption.text-center.text-lg-right.container
        span new
        span New Style
        span Profiles
    .swiper-slide(data-slide-bg='images/slider-2.jpg')
      .swiper-slide-caption.text-center.text-lg-right.container
        span 2016
        span Introducing
        span Holiday 2016
    .swiper-slide(data-slide-bg='images/slider-3.jpg')
      .swiper-slide-caption.text-center.text-lg-left.container
        span store
        span Retailer Janestyle
        span Brand Store
.swiper-container.variant-1.text-center.section-60
  .shell.gallery-thumbs
    .swiper-wrapper.range
      .swiper-slide.cell-xs-4
        h4 New Style<br> Profiles
      .swiper-slide.cell-xs-4
        h4 Introducing<br> Holiday 2016
      .swiper-slide.cell-xs-4
        h4 Retailer Janestyle:<br>Brand Store