//Section Customer Information
section.section-37.section-lg-119
  .shell
    .range
      .cell-lg-6.cell-lg-push-2
        .media.media-variant-1.product-cart
          .media-left
            img(src="images/customer-1.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Pull&Bear
            .price.pull-lg-right $100
            p.title Super Skinny Fit Jeans
            .size M
        .media.media-variant-1.product-cart.offset-top-55
          .media-left
            img(src="images/customer-2.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Diamond Pointelle
            .price.pull-lg-right $200
            p.title Kimono
            .size M
        .media.media-variant-1.product-cart.offset-top-55
          .media-left
            img(src="images/customer-3.jpg" alt="" width="289" height="145")
          .media-body
            h5.block-inline
              a(href="product-page.html") Union Brown Suede
            .price.pull-lg-right $170
            p.title Chukka Boots
            .size M
        .hr-3.offset-top-36
          form.form-custom-2.form-inline-flex-xs.text-center.offset-top-40
            .form-group
              input#coupon.form-control(type='text',placeholder="Discount Code")
            button( type="submit").btn.btn-dove-gray.btn-md Apply
          .hr-3.offset-top-36
          p.offset-top-30 Subtotal
            span.fw-s.txt-primary.pull-right.inset-right-56 $470
          p.offset-top-10 Shipping
            span.fw-s.txt-primary.pull-right.inset-right-56 $30
          p.offset-top-10 Taxes
            span.fw-s.txt-primary.pull-right.inset-right-56 $0
          .hr-3.offset-top-20
          p.txt-shaft-2.h6.offset-top-40 Total
            span.fw-s.txt-primary.pull-right.h6.inset-right-56 $500


      .cell-lg-6.cell-lg-push-1.offset-top-60.offset-lg-top-0
        .bg-concrete.section-37.section-lg-119.inset-xl-left-130.inset-xl-right-130.inset-left-26.inset-right-26
          .h6.txt-shaft Payment Method
          p.small.txt-shaft.offset-top-4 All transactions are secure and encrypted. Credit card information is never stored.
          .hr-3
          form.form-custom-3(role='form')
            .radio.offset-top-9
              label.mfRadio.txt-shaft
                input.mfRadio__input(type="radio", name="card")
                | Credit Card
            .pull-right.offset-top-9
              img(src="images/payment-1.png" alt="" height="21" width="145")
            .hr-3
            .form-group.offset-top-25
              input#number.form-control.offset-top-9(type='text',placeholder="Card Number")
            .range
              .cell-sm-6
                input#name.form-control(type='text',placeholder="Name on Card")
              .cell-sm-3
                input#year.form-control(type='text',placeholder="MM/YY")
              .cell-sm-3
                input#CW2.form-control(type='text',placeholder="CW2")
            .hr-3
            .radio.offset-top-9
              label.mfRadio.txt-shaft
                input.mfRadio__input(type="radio", name="card")
                | PayPal
            .hr-3
            .h6.txt-shaft.offset-top-30 Billing Address
            .hr-3
            .radio.offset-top-9
              label.mfRadio.txt-shaft
                input.mfRadio__input(type="radio", name="address")
                | Same as Shipping Address
            .hr-3
            .radio.offset-top-9
              label.mfRadio.txt-shaft
                input.mfRadio__input(type="radio", name="address")
                | Use a different billing address
            .hr-3
            .checkbox
              label.mfCheckbox.small
                input.mfCheckbox__input(type="checkbox" value="")
                span Subscribe to our newsletter
          a(href="customer.html").offset-top-20.link.block-xs.txt-shaft.small Back to customer information
          a(href="#").btn-default.btn-default-1.btn.btn-sm.clearfix.pull-sm-right.offset-top-9
            span.content Complete order
            span.fa-angle-right.icon

