    /*
    Flaticon icon font: Flaticon
    Creation date: 29/04/2017 11:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-ranking:before { content: "\f100"; }
.flaticon-devices:before { content: "\f101"; }
.flaticon-domain-registration:before { content: "\f102"; }
.flaticon-transfer:before { content: "\f103"; }
.flaticon-cogwheel:before { content: "\f104"; }
.flaticon-laptop-1:before { content: "\f105"; }
.flaticon-computer-4:before { content: "\f106"; }
.flaticon-head-2:before { content: "\f107"; }
.flaticon-settings-2:before { content: "\f108"; }
.flaticon-connection-2:before { content: "\f109"; }
.flaticon-speech-bubble-2:before { content: "\f10a"; }
.flaticon-telephone:before { content: "\f10b"; }
.flaticon-click:before { content: "\f10c"; }
.flaticon-mail:before { content: "\f10d"; }
.flaticon-speech-bubble-1:before { content: "\f10e"; }
.flaticon-cursor:before { content: "\f10f"; }
.flaticon-head-1:before { content: "\f110"; }
.flaticon-computer-3:before { content: "\f111"; }
.flaticon-social-2:before { content: "\f112"; }
.flaticon-social-1:before { content: "\f113"; }
.flaticon-money:before { content: "\f114"; }
.flaticon-graphic:before { content: "\f115"; }
.flaticon-desk:before { content: "\f116"; }
.flaticon-package:before { content: "\f117"; }
.flaticon-smartphone:before { content: "\f118"; }
.flaticon-pie-chart-1:before { content: "\f119"; }
.flaticon-shopping-bag-1:before { content: "\f11a"; }
.flaticon-speech-bubble:before { content: "\f11b"; }
.flaticon-mouse:before { content: "\f11c"; }
.flaticon-connection-1:before { content: "\f11d"; }
.flaticon-shopping-bag:before { content: "\f11e"; }
.flaticon-user-1:before { content: "\f11f"; }
.flaticon-team-1:before { content: "\f120"; }
.flaticon-building:before { content: "\f121"; }
.flaticon-speech-bubbles:before { content: "\f122"; }
.flaticon-user:before { content: "\f123"; }
.flaticon-piggy-bank:before { content: "\f124"; }
.flaticon-laptop:before { content: "\f125"; }
.flaticon-like:before { content: "\f126"; }
.flaticon-worldwide:before { content: "\f127"; }
.flaticon-settings-1:before { content: "\f128"; }
.flaticon-team:before { content: "\f129"; }
.flaticon-settings:before { content: "\f12a"; }
.flaticon-head:before { content: "\f12b"; }
.flaticon-handshake:before { content: "\f12c"; }
.flaticon-presentation:before { content: "\f12d"; }
.flaticon-growth:before { content: "\f12e"; }
.flaticon-adaptation:before { content: "\f12f"; }
.flaticon-placeholder:before { content: "\f130"; }
.flaticon-pie-chart:before { content: "\f131"; }
.flaticon-charity:before { content: "\f132"; }
.flaticon-target:before { content: "\f133"; }
.flaticon-business-3:before { content: "\f134"; }
.flaticon-computer-2:before { content: "\f135"; }
.flaticon-coins:before { content: "\f136"; }
.flaticon-transport:before { content: "\f137"; }
.flaticon-connection:before { content: "\f138"; }
.flaticon-social:before { content: "\f139"; }
.flaticon-sheet:before { content: "\f13a"; }
.flaticon-clock:before { content: "\f13b"; }
.flaticon-business-2:before { content: "\f13c"; }
.flaticon-medal:before { content: "\f13d"; }
.flaticon-squares:before { content: "\f13e"; }
.flaticon-computer-1:before { content: "\f13f"; }
.flaticon-text:before { content: "\f140"; }
.flaticon-business-1:before { content: "\f141"; }
.flaticon-monitor:before { content: "\f142"; }
.flaticon-computer:before { content: "\f143"; }
.flaticon-location:before { content: "\f144"; }
.flaticon-business:before { content: "\f145"; }
.flaticon-arrow:before { content: "\f146"; }
.flaticon-cherries:before { content: "\f147"; }
.flaticon-shark:before { content: "\f148"; }
.flaticon-diamond-1:before { content: "\f149"; }
.flaticon-flowers:before { content: "\f14a"; }
.flaticon-anchor:before { content: "\f14b"; }
.flaticon-shorts:before { content: "\f14c"; }
.flaticon-rudder:before { content: "\f14d"; }
.flaticon-shirt:before { content: "\f14e"; }
.flaticon-shoe:before { content: "\f14f"; }
.flaticon-hat:before { content: "\f150"; }
.flaticon-vest:before { content: "\f151"; }
.flaticon-tepee:before { content: "\f152"; }
.flaticon-iphone:before { content: "\f153"; }
.flaticon-deer:before { content: "\f154"; }
.flaticon-impossible-triangle:before { content: "\f155"; }
.flaticon-diamond:before { content: "\f156"; }
.flaticon-unicorn:before { content: "\f157"; }
.flaticon-arrows:before { content: "\f158"; }
    
    $font-Flaticon-ranking: "\f100";
    $font-Flaticon-devices: "\f101";
    $font-Flaticon-domain-registration: "\f102";
    $font-Flaticon-transfer: "\f103";
    $font-Flaticon-cogwheel: "\f104";
    $font-Flaticon-laptop-1: "\f105";
    $font-Flaticon-computer-4: "\f106";
    $font-Flaticon-head-2: "\f107";
    $font-Flaticon-settings-2: "\f108";
    $font-Flaticon-connection-2: "\f109";
    $font-Flaticon-speech-bubble-2: "\f10a";
    $font-Flaticon-telephone: "\f10b";
    $font-Flaticon-click: "\f10c";
    $font-Flaticon-mail: "\f10d";
    $font-Flaticon-speech-bubble-1: "\f10e";
    $font-Flaticon-cursor: "\f10f";
    $font-Flaticon-head-1: "\f110";
    $font-Flaticon-computer-3: "\f111";
    $font-Flaticon-social-2: "\f112";
    $font-Flaticon-social-1: "\f113";
    $font-Flaticon-money: "\f114";
    $font-Flaticon-graphic: "\f115";
    $font-Flaticon-desk: "\f116";
    $font-Flaticon-package: "\f117";
    $font-Flaticon-smartphone: "\f118";
    $font-Flaticon-pie-chart-1: "\f119";
    $font-Flaticon-shopping-bag-1: "\f11a";
    $font-Flaticon-speech-bubble: "\f11b";
    $font-Flaticon-mouse: "\f11c";
    $font-Flaticon-connection-1: "\f11d";
    $font-Flaticon-shopping-bag: "\f11e";
    $font-Flaticon-user-1: "\f11f";
    $font-Flaticon-team-1: "\f120";
    $font-Flaticon-building: "\f121";
    $font-Flaticon-speech-bubbles: "\f122";
    $font-Flaticon-user: "\f123";
    $font-Flaticon-piggy-bank: "\f124";
    $font-Flaticon-laptop: "\f125";
    $font-Flaticon-like: "\f126";
    $font-Flaticon-worldwide: "\f127";
    $font-Flaticon-settings-1: "\f128";
    $font-Flaticon-team: "\f129";
    $font-Flaticon-settings: "\f12a";
    $font-Flaticon-head: "\f12b";
    $font-Flaticon-handshake: "\f12c";
    $font-Flaticon-presentation: "\f12d";
    $font-Flaticon-growth: "\f12e";
    $font-Flaticon-adaptation: "\f12f";
    $font-Flaticon-placeholder: "\f130";
    $font-Flaticon-pie-chart: "\f131";
    $font-Flaticon-charity: "\f132";
    $font-Flaticon-target: "\f133";
    $font-Flaticon-business-3: "\f134";
    $font-Flaticon-computer-2: "\f135";
    $font-Flaticon-coins: "\f136";
    $font-Flaticon-transport: "\f137";
    $font-Flaticon-connection: "\f138";
    $font-Flaticon-social: "\f139";
    $font-Flaticon-sheet: "\f13a";
    $font-Flaticon-clock: "\f13b";
    $font-Flaticon-business-2: "\f13c";
    $font-Flaticon-medal: "\f13d";
    $font-Flaticon-squares: "\f13e";
    $font-Flaticon-computer-1: "\f13f";
    $font-Flaticon-text: "\f140";
    $font-Flaticon-business-1: "\f141";
    $font-Flaticon-monitor: "\f142";
    $font-Flaticon-computer: "\f143";
    $font-Flaticon-location: "\f144";
    $font-Flaticon-business: "\f145";
    $font-Flaticon-arrow: "\f146";
    $font-Flaticon-cherries: "\f147";
    $font-Flaticon-shark: "\f148";
    $font-Flaticon-diamond-1: "\f149";
    $font-Flaticon-flowers: "\f14a";
    $font-Flaticon-anchor: "\f14b";
    $font-Flaticon-shorts: "\f14c";
    $font-Flaticon-rudder: "\f14d";
    $font-Flaticon-shirt: "\f14e";
    $font-Flaticon-shoe: "\f14f";
    $font-Flaticon-hat: "\f150";
    $font-Flaticon-vest: "\f151";
    $font-Flaticon-tepee: "\f152";
    $font-Flaticon-iphone: "\f153";
    $font-Flaticon-deer: "\f154";
    $font-Flaticon-impossible-triangle: "\f155";
    $font-Flaticon-diamond: "\f156";
    $font-Flaticon-unicorn: "\f157";
    $font-Flaticon-arrows: "\f158";