//Figure Custom
//////////////////////////////

a.figure {
  position: relative;
  display:block;
  overflow: hidden;
  color: $gray-darker;
  height: 100%;
  width: 100%;
  .figure-caption {
    position: absolute;
    top: 13%;
    left: 6%;
    .h4{
      transition: .3s;
    }
  }
  &-2{
    .figure-caption{
      top: 12%;
      left: 12%;
    }
  }
  &-3{
    //padding-bottom: 50%;
    background: url('../images/index-2.jpg') no-repeat top left;
    background-size: cover;
    height: 350px;
    @media (min-width: $screen-md-min) {
      height:auto;
    }
    .figure-caption{
      top: 70%;
      left: 10%;
      @media (min-width: $screen-lg-min) {
        top: 85%;
      }
    }

  }
  &:before{
    position: absolute;
    top:12px;
    bottom:12px;
    left:12px;
    right:12px;
    content:'';
    display: inline-block;
    background-color: $black;
    opacity:0;
    @include transform(scale(0.5));
    transition: .3s;

  }
  &:hover{
    .h4{
      color:$color-rose-white;
    }
    &:before{
      opacity:.3;
      @include transform(scale(1));
    }
  }
}