//
//
// Product
///////////
.product {
  p:first-of-type {
    font-size: 22px;
    color: $gray-darker;
    font-weight: 600;
  }
  p.h4 {
    margin-top: 27px;
    font-weight: 400;
    & + * {
      margin-top: 11px;
    }
  }

  .price {
    color: $brand-primary;
    font-weight: 600;
    font-size: 40px;
    & + * {
      margin-top: 27px;
    }
  }
  .sizes {
    li:first-of-type {
      color: $gray-darker;
    }
    li + li {
      margin-left: 3px;
      @media (min-width: $screen-lg-min) {
        margin-left: 6px;
      }
      @media (min-width: 1600px) {
        margin-left: 13px;
      }
    }
    li:last-of-type {
      padding: 3px 6px;
      line-height: 1;
      border: 1px solid $gray-lighter;
      color: $gray-darker;
    }
  }
  .colors {
    margin-top: 25px;
    li:first-of-type {
      color: $gray-darker;
      vertical-align: middle;
      padding: 0;
      background-color: transparent;
    }
    li {
      padding: 14px 23px;
      vertical-align: middle;
      & + li {
        margin-left: 6px;
      }
      &:nth-of-type(2) {
        background-color: $brand-primary;
      }
      &:nth-of-type(3) {
        background-color: #525e7b;
      }
      &:nth-of-type(4) {
        background-color: #c46661;
      }
      &:nth-of-type(5) {
        background-color: $gray-darker;
      }
      &:nth-of-type(6) {
        background-color: $gray-base;
      }
    }
  }
  .qnt {
    margin-top: 26px;
    span {
      color: $gray-darker;
    }
    .mfInput {
      display: inline-block;
      width: 75px;
      position: relative;
      margin-left: 10px;
      input {
        width: 100%;
        height: 28px;
        vertical-align: middle;
        text-align: center;
        color: $gray-darker;
        line-height: 18px;
        font-size: 18px;
        padding: 0 22px;
        border: 1px solid $gray-lighter;
        @include placeholder($gray-darker);
        &:focus, &:active, &:hover {
          outline: none;
          border-color: $gray-lighter;
        }
      }
      span {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        color: $gray-base;
        &:hover {
          cursor: pointer;
          color: $brand-primary;
        }
      }
      .fa-caret-down {
        left: 10px;
      }
      .fa-caret-up {
        right: 10px;
      }
    }
  }
  .btn-group {
    margin-top: -5px;
    margin-left: -5px;
    @include transform(translateY(-5px));
    li {
      vertical-align: middle;
      margin-top: 5px;
      margin-left: 5px;

      .btn {
        padding: 11px 22px;
        .fa-shopping-cart {
          position: absolute;
          opacity: 0;
          transition: .3s;
        }
        &:hover {
          .fa-shopping-cart {
            opacity: 1;
          }
        }
      }
    }
  }
}