//
// Utility Custom classes
// --------------------------------------------------

.block-inline {
  display: inline-block;
}

.vertical-middle {
  vertical-align: middle;
}

.display-flex {
  @include display-flex;
}

.block-xs {
  display: block;
  @media (min-width: $screen-xs-min) {
    display: inline-block;
  }
}

/*Borders*/
.section-before-left {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    top: 8.4%;
    right: 10%;
    left: -5%;
    bottom: 8%;
    border: 12px solid $gray-dark;
    @media (min-width: 1800px) {
      right: 19%;
    }
    @media (min-width: $screen-lg-min) {
      display: inline-block;
    }
  }
  &-1 {
    &:before {
      top: 3%;
      bottom: 3%;
      display: none;
      right: 0.5%;
      @media (min-width: $screen-lg-min) {
        display: inline-block;
      }
      @media (min-width: 1800px) {
        right: 10%;
      }
    }
  }
  &-2 {
    &:before {
      right: 0.5%;
      top: 11%;
      bottom: 4%;
      @media (min-width: 1800px) {
        right: 11.5%;
      }
      @media (min-width: 2000px) {
        right: 17%;
      }
    }
  }
  &-3 {
    &:before {
      right: 0.5%;
      top: 11%;
      bottom: 8%;
      @media (min-width: 1800px) {
        right: 19%;
      }
    }
  }
  &-4 {
    &:before {
      right: 0.5%;
      top: 7%;
      bottom: 4%;
      @media (min-width: 1800px) {
        right: 19%;
      }
    }
  }
  &-5 {
    &:before {
      top: 119px;
      right: 10%;
      left: -5%;
      bottom: 119px;
      @media (min-width: 2000px) {
        right:19%;
      }
    }
  }
}

.section-before-right {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    display: none;
    top: -1%;
    bottom: 10%;
    left: 5.5%;
    right: -5%;
    border: 12px solid $gray-dark;
    @media (min-width: $screen-lg-min) {
      display: inline-block;
    }
    @media (min-width: 1800px) {
      left: 8.5%;
    }
  }
  &-1 {
    &:before {
      display: none;
      top: 5%;
      right: -28.5%;
      width: 120%;
      @media (min-width: 1600px) {
        display: inline-block;
      }
    }
  }
  &-2 {
    &:before {
      bottom: -20%;
      top: 6%;
      left: 0.5%;
      @media (min-width: 1800px) {
        left: 4.5%;
      }
      @media (min-width: 2000px) {
        left: 9%;
      }
    }
  }
  &-3 {
    &:before {
      bottom: 5%;
    }
  }
  &-4 {
    &:before {
      top: 6%;
      bottom: 6%;
      left: 0.5%;
      @media (min-width: 1800px) {
        left: 5.5%;
      }
    }
  }
  &-5 {
    &:before {
      top: 5%;
      bottom: 5%;
      left: 0.5%;
      @media (min-width: 1800px) {
        left: 4.5%;
      }
      @media (min-width: 2000px) {
        left: 8.5%;
      }
    }
  }
  &-6 {
    &:before {
      top: 6%;
      bottom: 17%;
      left: 0.5%;
      @media (min-width: 1800px) {
        left: 3.5%;

      }
      @media (min-width: 2000px) {
        left: 8.5%;

      }
    }
  }
  &-7 {
    &:before {
      left: 0.5%;
      top: 4%;
      bottom: 4%;
      @media (min-width: 1800px) {
        left: 8.5%;
      }
    }
  }
  &-8 {
    &:before {
      left: 0.5%;
      top: 119px;
      bottom: 120px;
      @media (min-width: 1800px) {
        left: 3.5%;
      }
      @media (min-width: 2000px) {
        left: 8.5%;
      }
    }
  }
  &-9 {
    &:before {
      top: 3%;
      left: 0.5%;
      bottom: 12%;
      @media (min-width: 1800px) {
        left: 3.5%;
      }
      @media (min-width:2000px) {
        left: 8.5%;
      }
    }
  }
  &-10 {
    &:before {
      left: 0.5%;
      top: 117px;
      bottom: 4%;
      @media (min-width: 1800px) {
        left: 3.5%;
      }
      @media (min-width: 2000px) {
        left: 8.5%;
      }
    }
  }
  &-11 {
    &:before {
      top: 119px;
      bottom: 119px;
      left: 0.5%;
      @media (min-width: 1800px) {
        left: 3.5%;
      }
      @media (min-width: 2000px) {
        left: 8.5%;
      }
    }
  }
}

.divider {
  position: relative;
  &:after, &:before {
    content: '';
    position: absolute;
    display: none;
    width: 68px;
    border-bottom: 6px solid $gray-darker;
    @media (min-width: $screen-lg-min) {
      display: inline-block;
    }
  }

  &-1 {
    &:after {
      top: 18%;
      left: -6%;
    }
    &:before {
      top: 3%;
      right: -1%;
      @include transform(rotate(90deg));
    }
  }
  &-2 {
    &:after {
      display: none;
    }
    &:before {
      top:45px;
      right: -6%;
    }
  }
  &-3 {
    &:after {
      display: none;
    }
    &:before {
      top: 9%;
      right: 1%;
    }
  }
  &-4 {
    &:after {
      top: 7%;
      left: -6%;
    }
    &:before {
      top: 2%;
      right: -1%;
      @include transform(rotate(90deg));
    }
  }
}

.bestseller {
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    z-index: 1;
    padding: 10px 20px;
    content: "Bestseller";
    color: $white;
    font-size: 14px;
    font-weight: 600;
    background-color: $brand-primary;
  }

}

.round {
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}