//Section Who we are
section.section-before-left.section-before-left-2.section-60.section-lg-top-226.section-lg-bottom-138
  .shell.divider.divider-1
    h3 who we are
    .range.offset-top-65
      .cell-xs-10
        .h5 Meet the people behind global denim brand store Janestyle - Catheren Upwine, Emma Newton and Rachel Morgan. They will get down with all the details about what work they do, how and why they create clothes for sale in our store.
      .cell-xs-12.offset-top-50
        img(src="images/team-1.jpg" alt="" width="1529" height="490")
