//
// Custom Thumbnails
// --------------------------------------------------

.thumbnail{
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;

  .caption{
    padding: 0;
    margin-top: 22px;
    @media (min-width: $screen-lg-min) {
      margin-top:40px;
    }
    h5{
      font-size: 24px;
      @media (min-width: $screen-lg-min) {
        font-size: 30px;
      }
    }
    h5 + p{
      margin-top: 0;
    }
    a{
      color:$gray-darker;
      &:hover{
        color:$brand-primary;
      }
    }

    p{
      color:$gray-base;
    }
    .price{
      margin-top: 5px;
      color:$brand-primary;
      font-weight: 600;
    }
  }
}

.img-thumbnail,
.thumbnail{
  box-shadow: none;
}

// Make thumbnails to fit entire container width
.thumbnail-block {
  display: block;

  > img,
  a > img {
    width: 100%;
    height: auto;
  }
}